<html>
  <head>
    {{ content_for_header }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'libs.min.css' | asset_url | stylesheet_tag }}
  </head>

  <body  class="page-home">
    {%  render 'header' %}
    {{ content_for_layout }}
    {%  render 'footer' %}
    {{ 'libs.js' | asset_url | script_tag }}
    {{ 'main.js' | asset_url | script_tag }}
  </body>
</html>
